<mat-card style="text-align: center;">
  <mat-card-title>Vote App</mat-card-title>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Bundle-ID</mat-label>
        <input value="com.todorinski.vote_app" matInput type="text" placeholder="Bundle-ID" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>App-Version</mat-label>
        <input value="BUILD-2023-05" matInput type="text" placeholder="App-Version" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Angular</mat-label>
        <input value="13.4" matInput type="text" placeholder="Angular" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Material</mat-label>
        <input value="13.4" matInput type="text" placeholder="Material" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Spring</mat-label>
        <input value="3.0.0" matInput type="text" placeholder="Spring" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Heroku-Cloud</mat-label>
        <input value="24" matInput type="text" placeholder="Heroku-Cloud" readonly>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button color="primary" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
