<div id="main-div">
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

  <mat-horizontal-stepper linear>
    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="credentialForm" [editable]="false">
      <ng-template matStepLabel>Code</ng-template>
      <form [formGroup]="credentialForm">
        <mat-form-field>
          <input matInput placeholder="Vote Code" formControlName="credentialCtrl" required>
        </mat-form-field>
        <div>
          <button (click)="openSnackBarOnCredentials()" mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>

    <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="voteForm">
      <ng-template matStepLabel>Vote</ng-template>
      <form [formGroup]="voteForm">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let item of [0, 1]; let i = index">
                <mat-checkbox [checked]="selected === i" (change)="selected = i" formControlName="voteCtrl" required>
                  {{selectOptions[i]}}
                </mat-checkbox>
            </mat-list-item>
          </mat-list>
          <div>
            <button (click)="openSnackBarOnVote()" mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Results</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>

