<div id="main-div">
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

  <mat-horizontal-stepper [linear]="isLinear" #stepper id="stepper">
    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="credentialForm" [editable]="false">
      <ng-template matStepLabel>Code</ng-template>
      <form [formGroup]="credentialForm">
        <mat-form-field appearance="outline">
          <mat-label>{{vote_app.vote_app.credential_input_field}}</mat-label>
          <input id="credential_input" [(ngModel)]="code" matInput placeholder="Code"
                 maxlength="4" formControlName="credential_controller" required>
          <mat-icon *ngIf='!credentialForm.valid && code != ""' style="color: red!important;">report</mat-icon>
          <mat-hint *ngIf='!credentialForm.valid && code != ""' style="color: red!important;">Кодът не е валиден.</mat-hint>
          <mat-icon *ngIf='credentialForm.valid && code != ""' style="color: green!important;">check</mat-icon>
          <mat-hint *ngIf='credentialForm.valid && code != ""' style="color: green!important;">Кодът е валиден.</mat-hint>
        </mat-form-field>
        <div>
          <button *ngIf="credentialForm.valid" (click)="openSnackBarOnClick(credentialForm.valid,
          vote_app.vote_app.credential_snackbar_answers.success,
          vote_app.vote_app.credential_snackbar_answers.error)" mat-stroked-button matStepperNext color="primary"
                  style="margin-top: 10px">
            Напред
          </button>
        </div>
      </form>
    </mat-step>

    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="voteForm" id="vote_step">
      <ng-template matStepLabel>Vote</ng-template>
      <div *ngIf="vote_app.vote_app.vote_finished; then form else chart"></div>
      <ng-template #form>
        <form [formGroup]="voteForm">
          <mat-list role="list">
            <mat-list-item>
              <p>{{vote_app.vote_app.main_question}}</p>
            </mat-list-item>
            <mat-list-item role="listitem" *ngFor="let i_opinion of vote_app.vote_app.opinions">
              <mat-checkbox [checked]="opinion === i_opinion.value" (change)="toggleSelect($event, i_opinion.value)"
                            formControlName="answer_controller" required>
                {{i_opinion.viewValue}}
              </mat-checkbox>
            </mat-list-item>
            <div *ngIf="opinion === answers.YES">
              <mat-divider id="mat-divider-vote"></mat-divider>
              <mat-list-item style="padding-bottom: 20px">
                <p>{{vote_app.vote_app.sub_question}}</p>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-form-field appearance="outline" style="width: 250px">
                  <mat-label>{{vote_app.vote_app.preferences_hint}}</mat-label>
                  <mat-select [(value)]="meeting_preference" formControlName="meeting_preference_controller" required>
                    <mat-option *ngFor="let preference of vote_app.vote_app.preference_options"
                                [value]="preference.value"
                                (onSelectionChange)="scroll_to_bottom()">
                      {{ preference.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Алтернативни предложения са welcome.</mat-hint>
                </mat-form-field>
              </mat-list-item>
              <mat-divider style="margin-top: 40px;"></mat-divider>
            </div>
            <div *ngIf="meeting_preference != meeting_preferences.UNDEFINED">
              <mat-list-item style="padding-bottom: 20px">
                <p>Ще дойдеш ли с някого?</p>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-form-field appearance="outline" style="width: 250px">
                  <mat-label>{{vote_app.vote_app.preferences_hint}}</mat-label>
                  <mat-select [(value)]="participation_form" formControlName="participation_form_controller" required>
                    <mat-option *ngFor="let participation_form of vote_app.vote_app.participation_form_options"
                                [value]="participation_form.value"
                                (onSelectionChange)="scroll_to_bottom()">
                      {{ participation_form.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Например приятел/ка.</mat-hint>
                </mat-form-field>
              </mat-list-item>
              <mat-divider style="margin-top: 40px;"></mat-divider>
            </div>
            <div *ngIf="participation_form != participation_forms.UNDEFINED">
              <mat-list-item style="padding-bottom: 20px">
                <p>Кои дни си свободен?</p>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-form-field [formGroup]="voteForm" appearance="outline" style="width: 250px"
                                [matMenuTriggerFor]="appMenu">
                  <mat-label>Моля избери дати</mat-label>
                  <mat-icon matSuffix>calendar_today</mat-icon>
                  <input formControlName="meeting_date_controller" matInput required readonly>
                  <mat-hint>Можеш да избереш повече от една дата.</mat-hint>
                </mat-form-field>
                <mat-menu #appMenu="matMenu" class="drop-calendar">
                  <div (click)="$event.stopPropagation()">
                    <mat-calendar #calendar
                                  (selectedChange)="select($event,calendar)"
                                  [dateClass]="isSelected"
                                  [dateFilter]="meeting_date_filter">
                    </mat-calendar>
                  </div>
                </mat-menu>
              </mat-list-item>
              <div style="margin-top: 40px;"></div>
              <mat-list-item style="margin-top: -10px" *ngFor="let date of selected_days_list; index as i">
                <p style="color: green">
                  {{i + 1}} : {{date}}
                  <mat-icon>check</mat-icon>
                </p>
              </mat-list-item>
              <mat-divider style="margin-top: 10px;"></mat-divider>
            </div>
            <mat-list-item style="margin-top: 20px" *ngIf="has_voted()">
              <button (click)="openSnackBarOnVote()" mat-stroked-button color="primary">Изпрати</button>
            </mat-list-item>
          </mat-list>
        </form>
      </ng-template>
      <ng-template #chart>
        <app-chart></app-chart>
      </ng-template>
    </mat-step>

    <mat-step [editable]="false" style="padding: 0 !important;">
      <ng-template matStepLabel></ng-template>
      <div id="progress-div" *ngIf="sent == false">
        <mat-progress-bar id="progressBar" mode="indeterminate"></mat-progress-bar>
        <mat-card>{{vote_app.vote_app.sending_text}}</mat-card>
      </div>
      <div id="information-div" *ngIf="sent">
        <mat-card>
          <p>{{vote_app.vote_app.sent_text_header}}</p>
          <p>{{vote_app.vote_app.sent_text_footer}}</p>
        </mat-card>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <button id="info_button" mat-flat-button color="white" (click)="showInfo()"
          matBadge="{{vote_app.vote_app.info_badge_count}}" matBadgePosition="before" matBadgeColor="accent"
          matBadgeHidden="{{vote_app.vote_app.info_badge_hidden}}">
    <mat-icon color="primary">info</mat-icon>
  </button>
</div>
