<div id="main-div">
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="credentialForm" [editable]="false">
      <ng-template matStepLabel>Code</ng-template>
      <form [formGroup]="credentialForm">
        <mat-form-field appearance="legacy">
          <input [(ngModel)]="code" matInput placeholder="{{vote_app.vote_app.credential_input_field}}"
            formControlName="credentialCtrl" required>
        </mat-form-field>
        <div>
          <button (click)="openSnackBarOnClick(credentialForm.valid, 
          vote_app.vote_app.credential_snackbar_answers.success, 
          vote_app.vote_app.credential_snackbar_answers.error)" mat-raised-button matStepperNext color="primary">Напред</button>
        </div>
      </form>
    </mat-step>

    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [stepControl]="voteForm">
      <ng-template matStepLabel>Vote</ng-template>
      <form [formGroup]="voteForm">
        <mat-list role="list">
          <mat-list-item>
            <p>{{vote_app.vote_app.main_question}}</p>
          </mat-list-item>
          <mat-list-item role="listitem" *ngFor="let i_opinion of vote_app.vote_app.opinions">
            <mat-checkbox [checked]="opinion === i_opinion.value" (change)="toggleSelect($event, i_opinion.value)"
              formControlName="opinionCtrl" required>
              {{i_opinion.viewValue}}
            </mat-checkbox>
          </mat-list-item>
          <div *ngIf="opinion === opinions.YES">
            <mat-divider id="mat-divider-vote"></mat-divider>
            <mat-list-item>
              <p>{{vote_app.vote_app.sub_question}}</p>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-form-field>
                <mat-select [(value)]="preference" formControlName="preferenceCtrl" required>
                  <mat-option *ngFor="let preference of vote_app.vote_app.preference_options"
                    [value]="preference.value">
                    {{ preference.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-hint>{{vote_app.vote_app.preferences_hint}}</mat-hint>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-divider></mat-divider>
            </mat-list-item>
          </div>
          <mat-list-item>
            <button (click)="openSnackBarOnVote()" mat-raised-button color="primary">Изпрати</button>
          </mat-list-item>
        </mat-list>
      </form>
    </mat-step>

    <mat-step [editable]="false" style="padding: 0 !important;">
      <ng-template matStepLabel></ng-template>
      <div id="progress-div" *ngIf="sent == false">
        <mat-progress-bar id="progressBar" mode="indeterminate"></mat-progress-bar>
        <mat-card>Моля изкачайте, докато cloud сървъра стартира и синхронизира вашия request</mat-card>
      </div>
      <div id="information-div" *ngIf="sent">
        <mat-card>
          <p>Мерси за гласа ти.</p>
          <p>По всяко време можеш да го промениш чрез клик в/у стъпка 2 или преминавайки през процеса отначало (browser
            refresh)</p>
        </mat-card>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>