@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  animation: animated_background 3s ease infinite;
  background: linear-gradient(90deg, #e4e5ac, #c18d7d, #89ca9b, #689d9a, #8114A0FF);
  background-size: 700% 1400%;
}

@keyframes animated_background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
